
<body>
<nav class="navbar sticky-top navbar-light bg-light">
    <div style="width: 100%;" >

    <a class="navbar-brand" href="#" style="float: left">
        <img src="../../assets/ssafylogo.png" width="30" height="30" alt="">
        <span class="name">SSAFYNS</span>
    </a>


    <div class="nav nav-tabs" id="myTab" role="tablist" style="float: left">
        <!--<div class="clearfix">-->
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><router-link to="/board">자유게시판</router-link></a>
            <a class="nav-link active" id="" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" @click="pu">push</a>
        </li>

        <!--</div>-->
    </div>
        <div class="login" style="float: right" v-if="this.$store.getters.getUser === undefined">
            <button class="btn btn-default">
                <router-link to="/login">로그인</router-link>
            </button>
            <button class="btn btn-default">
                <router-link to="/signup">회원가입</router-link>
            </button>
        </div>
        <div class="login" style="float: right; padding-right: 20px;" v-else-if="this.$store.getters.getUser !== undefined">
            <button class="btn btn-default">

                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user-circle" style="font-size: 25px;"></i></a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item"><router-link to="/login">로그인</router-link></a>
                        <a href="#" class="dropdown-item"><router-link to="/signup">회원가입</router-link></a>
                    </div>
                </div>
                <!--{{this.$store.getters.getUser.user_name}}님-->
            </button>
            <button class="btn btn-default" @click.prevent="signOut">

                로그아웃
            </button>
        </div>

    </div>
    <!--<div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">a</div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">b</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">c</div>
    </div>-->
</nav>

</body>



